/* Reset styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
}

.gallery {
  padding: 0;
  max-width: 1128px;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 360px;
  height: 152px;
}

.form-input {
  padding: 8px 16px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 400ms ease;
  resize: none;
}

.form-input:hover {
  border-color: #000;
}

.form-input:focus {
  border-color: #808080;
}

.form-button {
  border: none;
  padding: 6px 16px;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  transition: background-color 400ms ease;
}

.form-button:hover {
  background-color: #6c8cff;
}

.gallery-item {
  outline: 1px solid #808080;
  transition: transform 400ms ease;
}

.gallery-item:hover {
  transform: scale(1.04);
}

.gallery-description {
  display: flex;
  height: 48px;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.gallery-description li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-description h3 {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.gallery-description p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  color: #6c8cff;
  transform: translate(-30px, 90px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #6c8cff;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: #6c8cff;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: #6c8cff;
  }
}
